
GECP_DOT_NET_API/obj/GECP_DOT_NET_API.csproj.nuget.g.props
GECP_DOT_NET_API/obj/GECP_DOT_NET_API.csproj.nuget.dgspec.json
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/staticwebassets/GECP_DOT_NET_API.StaticWebAssets.xml
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/staticwebassets/GECP_DOT_NET_API.StaticWebAssets.Manifest.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.RazorTargetAssemblyInfo.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.pdb
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.MvcApplicationPartsAssemblyInfo.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.genruntimeconfig.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.GeneratedMSBuildEditorConfig.editorconfig
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.dll
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.csproj.FileListAbsolute.txt
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.csproj.CoreCompileInputs.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.csproj.AssemblyReference.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.assets.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.AssemblyInfoInputs.cache
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/GECP_DOT_NET_API.AssemblyInfo.cs
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/apphost.exe
GECP_DOT_NET_API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/appsettings.Development.json
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/appsettings.json
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/GECP_DOT_NET_API.deps.json
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/GECP_DOT_NET_API.dll
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/GECP_DOT_NET_API.exe
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/GECP_DOT_NET_API.pdb
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/GECP_DOT_NET_API.runtimeconfig.dev.json
GECP_DOT_NET_API/bin/Debug/netcoreapp3.1/GECP_DOT_NET_API.runtimeconfig.json
GECP_DOT_NET_API/obj/project.assets.json
GECP_DOT_NET_API/obj/project.nuget.cache
GECP_DOT_NET_API/obj/GECP_DOT_NET_API.csproj.nuget.g.targets
GECP_DOT_NET_API/.vs/GECP_DOT_NET_API/config/applicationhost.config
GECP_DOT_NET_API/Database/GECP_ADMINContext.cs
GECP_DOT_NET_API/Database/GECP_ADMINContext.cs
